<div class="content">
  <h1>
    <div id="post_title" class="mercury-region" data-type="editable">
      <%= raw @post.title %>
    </div>
  </h1>
  <div id= "post_body" class="mercury-region" data-type="editable">
    <%= raw @post.body %>
  </div>
  <p><%= link_to "Edit Post", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_post_path(@post) } %></p>
</div>