/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Tahoma, Verdana, Helvetica, Arial;
  color: #2F2F4F;
  font-size: 15px;
  margin: 0 0 0 0;
  border-top: 5px solid #E6E6FA;
  /* IE10 */ 
background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D9D9D9 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D9D9D9 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D9D9D9 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 559, color-stop(0, #FFFFFF), color-stop(1, #D9D9D9));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D9D9D9 100%);

/* Proposed W3C Markup */ 
background-image: radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D9D9D9 100%);
}

#mbg {
  background-color: #26466D;
  height: 170px;
  margin-bottom: -175px;
  -moz-box-shadow:    3px 3px 5px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px 5px #ccc;
  box-shadow:         3px 3px 5px 5px #ccc;
  /* IE10 */ 
  background-image: -ms-radial-gradient(center, circle closest-corner, #2F5787 0%, #1B314D 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center, circle closest-corner, #2F5787 0%, #1B314D 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(center, circle closest-corner, #2F5787 0%, #1B314D 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center center, 0, center center, 501, color-stop(0, #2F5787), color-stop(1, #1B314D));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center, circle closest-corner, #2F5787 0%, #1B314D 100%);

  /* Proposed W3C Markup */ 
  background-image: radial-gradient(center, circle closest-corner, #2F5787 0%, #1B314D 100%);
}

#about {
  padding-left: 30px;
  width: 300px;
  margin-top: -10px;
}

a {
  color: #C1CDCD;
}

a img {
  border: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 620px;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 150px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}

#picture {
  position: absolute;
  left: 450px;
  right: 0;
  top: 25px;
}


.title {
  color: white;
}

.title a:hover {
  text-shadow: 0 0 10px #4169E1;
}

.title a {
  color: white;
  text-decoration: none;
}

.snap {
  border: 1px solid #42526C;
  border-radius: 4px 4px 4px 4px;
  box-shadow: -1px 1px 1px #344152, 0 1px 1px #003F87;
}

.post-body {
  line-height: 150%;
}

